</div>
</div>
<!-- /col -->
</div>
<!-- /row -->
</div>
<!-- /container-fluid -->
</main>
</div>

<!-- /main-page-content -->
</div>
<!-- /main-columns-wrapper -->
<div class="main-content-push"></div>
</div>
<!-- /main-content-wrapper -->

<div id="go-to-top">
    <a href="#"><span class="glyphicon glyphicon-chevron-up"></span></a>
</div>

<div id="i-am-busy" class="modal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Proszę czekać... </div>
            <div class="modal-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="notifications"></div>

<footer>
    <div class="bottom-bar">
        <div class="bottom-bar-block">
            <div class="copyright">
                <span class="fa fa-copyright" aria-hidden="true"></span> Rada Kół Naukowych Politechniki Poznańskiej
                <br />
                <a href="https://rkn.put.poznan.pl" target="_blank">rkn.put.poznan.pl</a>
            </div>
        </div>
    </div>
</footer>