<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v9.0"
    nonce="t0SaM6Jo"></script>

<h1>Rada Kół Naukowych</h1>
<hr />
<div class="row">
    <div class="col-md-7">
        <h3><strong>DZIAŁALNOŚĆ</strong></h3>
        <p>Rada Kół Naukowych jest ciałem doradczym władz Politechniki Poznańskiej w sprawach związanych ze studenckim
            ruchem
            naukowym. Opiniuje propozycję podziału środków materialnych przeznaczonych przez organy uczelni, dla kół
            naukowych i
            organizacji studenckich. Podstawowym zadaniem RKN jest współpraca i organizacyjne wspieranie studentów w
            charakterze
            naukowym, realizacja projektów promujących naszą Politechnikę oraz propagowanie osiągnięć (naukowych i
            kulturalnych)
            studentów. Pragniemy stworzyć przy pomocy RKN forum, które w oparciu o tradycje Politechniki Poznańskiej
            stanowiłoby
            miejsce wspólnych działań studentów zrzeszonych we wszystkich kołach naukowych i organizacjach.RKN to
            miejsce dla
            zdolnych i ambitnych studentów, którzy chcą rozwijać swoje umiejętności. Chcemy, aby nasze projekty i
            codzienne
            funkcjonowanie pokazało, iż działalność naukowa jest nie tylko nużącym ślęczeniem nad książkami, ale
            stanowić
            ciekawą i rozwijającą alternatywę spędzania wolnego czasu. Jest inwestycją w przyszłość.Studentów, którzy
            chcą nabyć
            wspaniałe doświadczenie w gronie kreatywnych, ambitnych i ciekawych ludzi zachęcamy do przystąpienia w
            szeregi Rady
            Kół Naukowych!
        </p>

        <h3><strong>ZARZĄD</strong></h3>
        <p></p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Imię i nazwisko</th>
                    <th scope="col">Pełniona funkcja</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Przewodnicząca RKN</td>
                    <td>Marta Kuderska</td>

                </tr>
                <tr>
                    <td>Przewodnicząca ds. kół naukowych i organizacji studenckich</td>
                    <td>Barbara Budzińska</td>
                </tr>
                <tr>
                    <td>Przewodniczący ds. rozwoju</td>
                    <td>Karol Wojtas, Wiktoria Kozłowska</td>
                </tr>
                <tr>
                    <td>Przewodnicząca ds. marketingu</td>
                    <td>Martyna Huziuk</td>
                </tr>
                <tr>
                    <td>Członek zarządu</td>
                    <td>Adam Andrzejewski</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-4">

        <h3><strong>WYDARZENIA</strong></h3>
        <div class="fb-page" data-href="https://www.facebook.com/RKNPP/" data-tabs="events" data-width="500"
            data-height="750" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false"
            data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/RKNPP/" class="fb-xfbml-parse-ignore"><a
                    href="https://www.facebook.com/RKNPP/">Rada Kół Naukowych Politechniki Poznańskiej</a></blockquote>
        </div>

        <h3><strong>AKTUALNOŚCI</strong></h3>
        <div class="fb-page" data-href="https://www.facebook.com/RKNPP/" data-tabs="timeline" data-width="500"
            data-height="700" data-small-header="true" data-adapt-container-width="false" data-hide-cover="false"
            data-show-facepile="true">
            <blockquote cite="https://www.facebook.com/RKNPP/" class="fb-xfbml-parse-ignore"><a
                    href="https://www.facebook.com/RKNPP/">Rada Kół Naukowych Politechniki Poznańskiej</a></blockquote>
        </div>
    </div>
</div>